@page "/"
@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject NavigationManager navManager

<h3>Hello @DeviceId</h3>


@code{
    private string DeviceId => System.Environment.MachineName;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        var user = userService.GetUser(DeviceId);
        Console.WriteLine(user);
        if (user != null)
        {
            navManager.NavigateTo("/welcome");
        }else
        {
            navManager.NavigateTo("/register");
        }
        
    }
}

