@page "/welcome";
@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject BlazorMongoDB.IService.ICompaniesService companiesService
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime



@if (company.FileName != null)
{
    <div>

        <img class="logo-image" src="@company.FileName" alt="Company Logo" />
    </div>
}
else
{
    <p>Image not found.</p>
}

<br />

<h4>Your Company:</h4>
<h5>@company.Name</h5>
<h5>@company.Address</h5>
<h5>@company.PhoneNumber</h5>

<br />
<button class="btn btn-primary" @onclick="NavigateToAnotherPage">Users</button>
<button class="btn btn-primary" @onclick="NavigateToCompanies">Companies</button>

@code {

    Users user = new Users();
    Companies company = new Companies();


    protected override async Task OnInitializedAsync()
    {

        string uniqueIdentifier = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "userUniqueIdentifier");
        user = userService.GetUser(uniqueIdentifier);
        company = companiesService.GetCompany(user.CompanyId);

    }

    private void NavigateToAnotherPage()
    {
        navManager.NavigateTo("/users");
    }
    private void NavigateToCompanies()
    {
        navManager.NavigateTo("/companies");
    }

    private string GetGreeting()
    {
        var currentTime = DateTime.Now;

        if (currentTime.Hour >= 5 && currentTime.Hour < 12)
        {
            return "morning";
        }
        else if (currentTime.Hour >= 12 && currentTime.Hour < 17)
        {
            return "afternoon";
        }
        else
        {
            return "evening";
        }
    }
}
