@page "/welcome";
@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject NavigationManager navManager

<h3>Welcome back, @user.Name</h3>

<button class="btn btn-primary" @onclick="NavigateToAnotherPage">Users</button>




@code {
    private string DeviceId => Environment.UserName;
    
    Users user = new Users();

    protected override async Task OnInitializedAsync()
    {

        user = userService.GetUser(DeviceId);
        


    }

    private void NavigateToAnotherPage()
    {
        navManager.NavigateTo("/users");
    }
}
