@page "/welcome";
@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject BlazorMongoDB.IService.ICompaniesService companiesService
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<h3>Welcome back, @user.Name</h3>

<br />

<h4>Your Company:</h4>
<h5>@company.Name</h5>
<h5>@company.Address</h5>
<h5>@company.PhoneNumber</h5>

<br />
<button class="btn btn-primary" @onclick="NavigateToAnotherPage">Users</button>
<button class="btn btn-primary" @onclick="NavigateToCompanies">Companies</button>

@code {

    Users user = new Users();
    Companies company = new Companies();


    protected override async Task OnInitializedAsync()
    {

        string uniqueIdentifier = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "userUniqueIdentifier");
        user = userService.GetUser(uniqueIdentifier);
        company = companiesService.GetCompany(user.CompanyId);

    }

    private void NavigateToAnotherPage()
    {
        navManager.NavigateTo("/users");
    }
    private void NavigateToCompanies()
    {
        navManager.NavigateTo("/companies");
    }
}
