@page "/welcome";
@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<h3>Welcome back, @user.Name</h3>

<button class="btn btn-primary" @onclick="NavigateToAnotherPage">Users</button>
<button class="btn btn-primary" @onclick="NavigateToCompanies">Companies</button>




@code {
    private string SystemDetail;
    private string IpAddress;
    Users user = new Users();

    protected override async Task OnInitializedAsync()
    {
        // Use await to get the result from the JavaScript Interop method.
        SystemDetail = await jsRuntime.InvokeAsync<string>("getUserAgent");
        IpAddress = await jsRuntime.InvokeAsync<string>("ipAddressInterop.getClientIPAddress");
        user = userService.GetUser(SystemDetail, IpAddress);
    }

    private void NavigateToAnotherPage()
    {
        navManager.NavigateTo("/users");
    }
    private void NavigateToCompanies()
    {
        navManager.NavigateTo("/companies");
    }
}
