@inherits LayoutComponentBase
@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject BlazorMongoDB.IService.ICompaniesService companiesService
@inject IJSRuntime jsRuntime

<PageTitle>BlazorMongoDB</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h3>Good @GetGreeting(), @user.Name</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    Users user = new Users();
    Companies company = new Companies();


    protected override async Task OnInitializedAsync()
    {

        string uniqueIdentifier = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "userUniqueIdentifier");
        user = userService.GetUser(uniqueIdentifier);
        if (user != null)
        {
            company = companiesService.GetCompany(user.CompanyId);
        }

    }

    private string GetGreeting()
    {
        var currentTime = DateTime.Now;

        if (currentTime.Hour >= 5 && currentTime.Hour < 12)
        {
            return "morning";
        }
        else if (currentTime.Hour >= 12 && currentTime.Hour < 17)
        {
            return "afternoon";
        }
        else
        {
            return "evening";
        }
    }
}