@using BlazorMongoDB.Data
@inject BlazorMongoDB.IService.IUserService userService
@inject IJSRuntime jsRuntime
@inherits LayoutComponentBase

<PageTitle>BlazorMongoDB</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
       
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


